BODY {
	background-color: #F0F0F0;
	#board
	{
		display: table;
		width: 100%;
		list-style: none;
		margin: 0;
		padding: 0;
		.board_row_wrap {
			display: table;
			width: 100%;
			list-style: none;
			margin: 0;
			padding: 0;
			.board_row
			{
				display: table-row;
				list-style: none;
				margin: 0;
				padding: 0;
			}
			.board_square
			{
				display: table-cell;
				list-style: none;
				margin: 0;
				padding: 0;
				opacity: .4;
				&.active {
					opacity: 1;
				}
			}
			&:nth-child(odd) {
				.board_square {
					&:nth-child(odd) {
						-webkit-box-shadow: inset 0px 0px 8px 1px rgba(0,0,0,0.33);
						-moz-box-shadow: inset 0px 0px 8px 1px rgba(0,0,0,0.33);
						box-shadow: inset 0px 0px 8px 1px rgba(0,0,0,0.33);
						background-color: #FFF8DC;
					}
					&:nth-child(even) {
						background-color: #DEB887;
					}
				}
			}
			&:nth-child(even) {
				.board_square {
					&:nth-child(odd) {
						background-color: #DEB887;
					}
					&:nth-child(even) {
						-webkit-box-shadow: inset 0px 0px 8px 1px rgba(0,0,0,0.33);
						-moz-box-shadow: inset 0px 0px 8px 1px rgba(0,0,0,0.33);
						box-shadow: inset 0px 0px 8px 1px rgba(0,0,0,0.33);
						background-color: #FFF8DC;
					}
				}		
			}		
		}
	}
	&.post {
		#tourSlider {
			display: inline-block;
		}
	}
	#tourSlider {
		display: none;
		margin-bottom: 25px;
		width: 100%;
	}
}